@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body {
    /* font-family: 'JetBrains Mono', monospace; */
    background-color: #F9F9F9;
    color: #2c3035;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;


  }
}
.font-jetbrains{
  font-family: 'JetBrains Mono', monospace;
}

::-webkit-scrollbar {
  visibility: hidden;
  display: none
  
}

.scrollButton {
  animation: go-back 1s infinite alternate;
}

@keyframes go-back {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}

@media (min-width: 1560px) {
  svg {
    height: 40px;
    width: 40px;
  }

}